{% extends "layout.html" %}
{% block content %}

<div class="row">
  <div class="col-md-12">
    <h4>Available Symbols</h4>
  </div>
  {% for sym in symbols %}
    {% if sym == symbol %}
      <a class="btn btn-info mb-4 mr-2" href="{{ url_for('main.home', symbol=sym) }}">{{ sym }}</a>
    {% else %}
      <a class="btn btn-outline-info mb-4 mr-2" href="{{ url_for('main.home', symbol=sym) }}">{{ sym }}</a>
      {% endif %}
    {% endfor %}
</div>
<hr>

<a href="{{ url_for('transactions.new_transaction') }}">
  <button type="button" class="btn btn-sm btn-primary btn-create">New Transaction</button>
</a>
<span>
<a class="float-right" href="{{ url_for('transactions.upload_csv') }}">
  <button type="button" class="btn btn-sm btn-primary btn-create btn-warning mr-1">Upload CSV</button>
</a>
</span>
<span>
<a class="float-right" href="{{ url_for('transactions.download_csv') }}">
  <button type="button" class="btn btn-sm btn-primary btn-create btn-warning mr-2">Download CSV</button>
</a>
</span>
<br />
<table class="table table-hover" style="margin:20px;">
  <thead>
    <tr>
      <th scope="col">Transaction Date</th>
      <th scope="col">Security Name</th>
      <th scope="col">Transaction Type</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price/Share</th>
      <th scope="col">Fees</th>
      <th scope="col">ACB</th>
      <th scope="col">Gain/Loss</th>
    </tr>
  </thead>
  <tbody>
    {% for transaction in transactions.items %}
      <tr>
        <th scope="row">{{ transaction.transaction_date.strftime('%Y-%m-%d') }}</th>
        <td>{{ transaction.security_name }}</td>
        <td>{{ transaction.transaction_type.upper() }}</td>
        <td>{{ transaction.quantity }}</td>
        <td>{{ transaction.price_per_share }}</td>
        <td>{{ transaction.fees }}</td>
        <td>{{ transaction.acb }}</td>
        <td>{{ transaction.gain_loss }}</td>
        <td>
          <a href="{{ url_for('transactions.update_transaction', transaction_id=transaction.id) }}">
            <button type="button" class="btn btn-info btn-sm m-1">Edit</button>
            <!--
            <button class="btn btn-sm m-1" style="background-color:transparent;">
              <i class="fa fa-pencil"></i>
            </button>-->
          </a>

          <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
        </td>
        <td>
          <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Transaction?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="{{ url_for('transactions.delete_transaction', transaction_id=transaction.id) }}" method="POST">
                      <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
    {% endfor %}
  </tbody>
</table>
 {% if transactions %}
  {% for page_num in transactions.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if transactions.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num, symbol=symbol) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num, symbol=symbol) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
  {% endfor %}
  {% endif %}
{% endblock content %}
